#shoaib{
    text-align: center;
    color: blue;
    text-decoration: underline;
}
.shoaib{
    position: relative;
    left: 100px;
}
.mein{
    position: relative;
    left: 100px;
}
.ahmed{
    position: relative;
    left: 70px;
}
.soomro{
    position: relative;
    left: 100px;
}
#soomro{
    position: relative;
    left: 120px;


}
#body{
    position: relative;
    left: 100px;
}
.mobile{
    position: relative;
    left: 135px;
}
#mobile{
    position: relative;
    left: 100px;
}
.maan{
    position: relative;
    left: 120px;
}
.computer{
    position: relative;
    left: 100px;
}
#computer{
    position: relative;
    left: 170px;
}
#ahmed{
    position: relative;
    left: 100px;

}
.paragraph{
    text-indent: 160px;
}
form{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px;

}
#paragraph{
    text-indent: 300px;
}
.nome{
    text-align: center;
}
.img{
    text-align: center;
    padding: 60px;
    color: blue;
    
}
h2{
    text-align: center;
    color: blueviolet;
}
h3{
    text-align: center;
    color: crimson;
    text-decoration: underline;
}













